@model IEnumerable<Domain.EF_Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/AdminPanel/AdminLayout.cshtml";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="@item.PreviewImage" style="width:70px; height:70px;" alt="preview"/>
            </td>
            <td>
                @Html.DropDownList("Subcategories",
                         new SelectList(item.Subcategories),
                         new { @class = "subcategories" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>